

<div class="form-body">
    @if (ViewBag.ViewMaterialOutPartyDataList != null)
    {
        foreach (var item in ViewBag.ViewMaterialOutPartyDataList)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr hidden>
                                <td><b>MatOutPartyId</b></td>
                                <td>@item.MatOutPartyId</td>
                            </tr>
                            <tr>
                                <td><b>Name</b></td>
                                <td>@item.Name</td>
                            </tr>
                            <tr>
                                <td><b>Opening Balance</b></td>
                                <td>@item.OpeningBalance</td>
                            </tr>
                            @*<tr>
                                <td><b>IsActive</b></td>
                                @if (item.IsActive == true)
                                {
                                    <td><span class="badge badge-success brd-rd5">Active</span></td>
                                }
                                else if (item.IsActive == false)
                                {
                                    <td><span class="badge badge-danger brd-rd5">De-Active</span></td>
                                }
                            </tr>*@
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</div>


