<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="~/Content/AdminDashboard/img/UIHere.png" />
        </div>
        <div class="sidebar-brand-text mx-3">Silk Screen POS</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Home/AdminDashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialInPurchaserList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material In Puchaser</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialOutItemList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material Out Item</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialOutPartyList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material Out Party</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialInDataList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material In</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Report/PartyPurchaseLedger">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Party Purchase Ledger</span>
        </a>
    </li>
    @*<hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material In</span>
        </a>
    </li>*@



    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->

