<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="~/Content/AdminDashboard/img/UIHere.png" />
        </div>
        <div class="sidebar-brand-text mx-3">Silk Screen POS</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Home/AdminDashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Material Data</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Material/MaterialInPurchaserList">Material In Puchaser</a>
                <a class="collapse-item" href="/Material/MaterialOutItemList">Material Out Item</a>
                <a class="collapse-item" href="/Material/MaterialOutPartyList">Material Out Party</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialInDataList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material In List</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Payment/MaterialInPaymentList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Vendor Payment List</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialOutDataList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material Out List</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Report/PartyPurchaseLedger">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Party Purchase Ledger</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Report/PartySaleLedger">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Party Sale Ledger</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStockData" aria-expanded="true" aria-controls="collapseStockData">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Stock</span>
        </a>
        <div id="collapseStockData" class="collapse" aria-labelledby="headingStockData" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Stock/StockDataList">Stock List</a>
                <a class="collapse-item" href="/Report/StockReport">Stock Report</a>
            </div>
        </div>
    </li>
    @*<hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="/Material/MaterialList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Material In</span>
        </a>
    </li>*@



    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->

